.timeAndAuthor{
    display: flex;
    margin-top: 1.5rem;

    time,span{
        width: 10rem;

        svg{
            height: 1.3rem !important;
            width: 1.3rem !important;
            margin-right: 0.5rem;
        }

        display: flex;
        align-items: center;
        justify-content: initial;
    }
}
